@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";

:root {
    --primary-text: #B3B3B3;
    --primary-bg: #1E1E1E;
    --primary-border: #4C4B4B;
    --secondary-bg: #151515;
    --secondary-bg-hvr: #2a2a2a;
    --highlight-text: #3B94DC;
    --highlight-bg: #222A31;
}
